    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="First Name" value="{{this.first_name}}" name="first_name">
            <label for="floatingInput">First Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" value="{{this.Last_name}}" name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Email" value="{{this.email}}" name="email">
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Phone" value="{{this.phone}}" name="phone">
            <label for="floatingInput">Phone</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Comments" value="{{this.comments}}" name="comments" style="height: 200px;">
            <label for="floatingInput">Comments</label>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>